# Loan Approval Prediction - Preprocessing Data

### Step 1: Import Raw Data and Required Libraries.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'prosperLoanDataRaw.csv')
df.head()

,Term,LoanStatus,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,OpenCreditLines,TotalInquiries,CurrentDelinquencies,AvailableBankcardCredit,DebtToIncomeRatio,IncomeVerifiable,StatedMonthlyIncome,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment,BorrowerRate
0,36,Completed,Self-employed,2.0,True,640.0,659.0,4.0,3.0,2.0,1500.0,0.17,True,3083.333333,19141,9425,330.43,0.1580
1,36,Current,Employed,44.0,False,680.0,699.0,14.0,5.0,0.0,10266.0,0.18,True,6125.000000,134815,10000,318.93,0.0920
2,36,Completed,Not available,NaN,False,480.0,499.0,NaN,1.0,1.0,NaN,0.06,True,2083.333333,6466,3001,123.32,0.2750
3,36,Current,Employed,113.0,True,800.0,819.0,5.0,1.0,4.0,30754.0,0.15,True,2875.000000,77296,10000,321.45,0.0974
4,36,Current,Employed,44.0,True,680.0,699.0,19.0,9.0,0.0,695.0,0.26,True,9583.333333,102670,15000,563.97,0.2085

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Term                      113937 non-null  int64
 1   LoanStatus                113937 non-null  object
 2   EmploymentStatus          111682 non-null  object
 3   EmploymentStatusDuration  106312 non-null  float64
 4   IsBorrowerHomeowner       113937 non-null  bool
 5   CreditScoreRangeLower     113346 non-null  float64
 6   CreditScoreRangeUpper     113346 non-null  float64
 7   OpenCreditLines           106333 non-null  float64
 8   TotalInquiries            112778 non-null  float64
 9   CurrentDelinquencies      113240 non-null  float64
 10  AvailableBankcardCredit   106393 non-null  float64
 11  DebtToIncomeRatio         105383 non-null  float64
 12  IncomeVerifiable          113937 non-null  bool
 13  StatedMonthlyIncome       113937 non-null  float64
 14  LoanNumber                113937 non-null  int64
 15  LoanOriginalAmount        113937 non-null  int64
 16  MonthlyLoanPayment        113937 non-null  float64
 17  BorrowerRate              113937 non-null  float64
dtypes: bool(2), float64(11), int64(3), object(2)
memory usage: 14.1+ MB

### Step 2: Handling NULL Values.

In [4]:
df.isnull().sum()

Term                           0
LoanStatus                     0
EmploymentStatus            2255
EmploymentStatusDuration    7625
IsBorrowerHomeowner            0
CreditScoreRangeLower        591
CreditScoreRangeUpper        591
OpenCreditLines             7604
TotalInquiries              1159
CurrentDelinquencies         697
AvailableBankcardCredit     7544
DebtToIncomeRatio           8554
IncomeVerifiable               0
StatedMonthlyIncome            0
LoanNumber                     0
LoanOriginalAmount             0
MonthlyLoanPayment             0
BorrowerRate                   0
dtype: int64

In [5]:
df.fillna(df.mean(), inplace=True)

C:\Users\parka\AppData\Local\Temp\ipykernel_30560\820435583.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [6]:
df.isnull().sum()

Term                           0
LoanStatus                     0
EmploymentStatus            2255
EmploymentStatusDuration       0
IsBorrowerHomeowner            0
CreditScoreRangeLower          0
CreditScoreRangeUpper          0
OpenCreditLines                0
TotalInquiries                 0
CurrentDelinquencies           0
AvailableBankcardCredit        0
DebtToIncomeRatio              0
IncomeVerifiable               0
StatedMonthlyIncome            0
LoanNumber                     0
LoanOriginalAmount             0
MonthlyLoanPayment             0
BorrowerRate                   0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

Term                        0
LoanStatus                  0
EmploymentStatus            0
EmploymentStatusDuration    0
IsBorrowerHomeowner         0
CreditScoreRangeLower       0
CreditScoreRangeUpper       0
OpenCreditLines             0
TotalInquiries              0
CurrentDelinquencies        0
AvailableBankcardCredit     0
DebtToIncomeRatio           0
IncomeVerifiable            0
StatedMonthlyIncome         0
LoanNumber                  0
LoanOriginalAmount          0
MonthlyLoanPayment          0
BorrowerRate                0
dtype: int64

### Step 3: Cleaning Columns in the Dataset.

#### Column: IsEmployed

In [9]:
df.EmploymentStatus.unique()

array(['Self-employed', 'Employed', 'Not available', 'Full-time', 'Other',
       'Not employed', 'Part-time', 'Retired'], dtype=object)

In [10]:
df['IsEmployed'] = np.where((df['EmploymentStatus'] == 'Not employed') | (df['EmploymentStatus'] == 'Retired'), 0, 1)
df.drop(columns=['EmploymentStatus'], inplace=True)

#### Column: IsHomeowner

In [11]:
df.rename(columns={'IsBorrowerHomeowner': 'IsHomeowner'}, inplace=True)
df['IsHomeowner'] = df['IsHomeowner'].astype(int)

#### Column: AverageCreditScore

In [12]:
df['AverageCreditScore'] = np.ceil((df['CreditScoreRangeLower'] + df['CreditScoreRangeUpper']) / 2).astype(int)
df.drop(columns=['CreditScoreRangeLower', 'CreditScoreRangeUpper'], inplace=True)

#### Column: CurrentDelinquencies

In [13]:
df['AnyDelinquencies'] = np.where(df['CurrentDelinquencies'] == 0, 0, 1)
df.drop(columns=['CurrentDelinquencies'], inplace=True)

#### Column: IncomeVerifiable

In [14]:
df['IncomeVerifiable'] = df['IncomeVerifiable'].astype(int)

#### Column: TotalInquiries

In [15]:
df['TotalInquiries'] = df['TotalInquiries'].astype(int)

#### Column: LoanStatus

In [16]:
df.LoanStatus.unique()

array(['Completed', 'Current', 'Past Due (1-15 days)', 'Defaulted',
       'Chargedoff', 'Past Due (16-30 days)', 'Past Due (61-90 days)',
       'Past Due (31-60 days)', 'Past Due (91-120 days)',
       'FinalPaymentInProgress', 'Past Due (>120 days)', 'Cancelled'],
      dtype=object)

In [17]:
excluded_values = ['Current']  
df = df[~df['LoanStatus'].isin(excluded_values)]

In [18]:
df['GoodLoan'] = np.where((df['LoanStatus'] == 'Completed') | (df['LoanStatus'] == 'FinalPaymentInProgress'), 1, 0)
df.drop(columns=['LoanStatus'], inplace=True)

#### Renaming Remaining Columns

In [19]:
df.rename(columns={'LoanOriginalAmount': 'LoanAmount'}, inplace=True)
df.rename(columns={'MonthlyLoanPayment': 'MonthlyInstallment'}, inplace=True)
df.rename(columns={'BorrowerRate': 'InterestRate'}, inplace=True)
df.rename(columns={'EmploymentStatusDuration': 'MonthsOfEmployementExperience'}, inplace=True)

#### Cleaned Data

In [20]:
df.describe()

,Term,MonthsOfEmployementExperience,IsHomeowner,OpenCreditLines,TotalInquiries,AvailableBankcardCredit,DebtToIncomeRatio,IncomeVerifiable,StatedMonthlyIncome,LoanNumber,LoanAmount,MonthlyInstallment,InterestRate,IsEmployed,AverageCreditScore,AnyDelinquencies,GoodLoan
count,55106.000000,55106.000000,55106.000000,55106.000000,55106.000000,55106.000000,55106.000000,55106.000000,55106.000000,55106.000000,55106.000000,55106.000000,55106.000000,55106.000000,55106.00000,55106.000000,55106.000000
mean,37.248213,83.022587,0.479240,8.450398,6.989184,10804.630868,0.292810,0.918557,5066.380671,41156.579338,6413.647969,228.620494,0.202293,0.976591,684.70388,0.256723,0.668530
std,7.800320,81.000658,0.499573,4.740902,8.031658,20839.931109,0.704578,0.273517,5692.037914,24807.586082,5275.506473,186.709415,0.081249,0.151201,78.15758,0.436829,0.470746
min,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,74.000000,1000.000000,0.000000,0.000000,0.000000,10.00000,0.000000,0.000000
25%,36.000000,24.000000,0.000000,5.000000,2.000000,665.000000,0.140000,1.000000,2833.333333,21621.250000,3000.000000,102.520000,0.136500,1.000000,650.00000,0.000000,0.000000
50%,36.000000,63.000000,0.000000,8.000000,5.000000,4368.500000,0.220000,1.000000,4166.666667,39045.500000,4800.000000,173.710000,0.198200,1.000000,690.00000,0.000000,1.000000
75%,36.000000,104.000000,1.000000,11.000000,9.000000,11210.225447,0.300000,1.000000,6250.000000,56644.500000,8300.000000,306.720000,0.269900,1.000000,730.00000,1.000000,1.000000
max,60.000000,755.000000,1.000000,51.000000,379.000000,646285.000000,10.010000,1.000000,618547.833300,134158.000000,35000.000000,2251.510000,0.360000,1.000000,890.00000,1.000000,1.000000

### Step 4: Export Cleaned Dataset.

In [21]:
df.to_csv('prosperLoanDataCleaned.csv', index=False)